/* Debug */

.debug header{
    height: 60px;
    width: 100%;
    background-color: rgb(80, 9, 146);
}

.debug .item{
    height: 30px;
    width: 200px;
    background-color: rgb(159, 84, 229);
    border: 1px dashed black;
}

.debug .items{
    height: 30px;
    width: 600px;
    background-color: rgb(159, 84, 229);
    border: 1px dashed black;
}

.debug .blue{
    height: 400px;
    background-color: rgba(23, 23, 196, 0.818);
}

.debug .download{
    height: 300px;
/*     width: 700px; */
    background-color: rgb(52, 171, 211);
    border: 1px dashed black;
}

.debug .white{
    height: 500px;
    background-color: rgb(255, 255, 255);
}

.debug .img_frog{
    height: 400px;
/*     width: 550px; */
    background-color: rgb(202, 49, 49);
    border: 1px dashed black;
}

.debug .text_place{
    height: 400px;
/*     width: 400px; */
    background-color: rgb(240, 174, 52);
    border: 1px dashed black;
}

.debug .grey{
    height: 500px;
    background-color: rgb(159, 150, 150);
}

.debug .text_channel{
    height: 400px;
 /*    width: 400px; */
    background-color: rgb(240, 174, 52);
    border: 1px dashed black;
}

.debug .img_wizard{
    height: 400px;
/*     width: 550px; */
    background-color: rgb(202, 49, 49);
    border: 1px dashed black;
}

.debug .fandom{
    height: 500px;
    background-color: rgb(233, 221, 207);
}

.debug .img_book{
    height: 400px;
/*     width: 550px; */
    background-color: rgb(202, 49, 49);
    border: 1px dashed black;
}

.debug .text_fandom{
    height: 400px;
/*     width: 400px; */
    background-color: rgb(240, 174, 52);
    border: 1px dashed black;
}

/* .debug .video_screen{
    height: 700px;
    background-color: rgb(159, 150, 150);
} */

.debug .screens{
    height: 480px;
/*     width: 950px; */
    background-color: rgb(81, 224, 157);
    border: 1px dashed black;
}

.debug .bottom_menu{
    height: 500px;
    background-color: rgb(30, 30, 131);
}

.debug .socials{
    height: 450px;
/*     width: 300px; */
    background-color: rgb(232, 234, 145);
    border: 1px dashed black;
}

.debug .list{
    height: 450px;
/*     width: 150px; */
    background-color: rgb(220, 85, 220);
    border: 1px dashed black;
}

.debug footer{
    height: 50px;
    background-color: rgb(30, 30, 131);
}

.debug .container_footer{
    height: 40px;
    background-color: rgb(255, 143, 161);

}

.debug .foot_logo{
    height: 30px;
    width: 100px;
    background-color: rgb(110, 200, 252);
    border: 1px dashed black;
}

.debug .foot_login{
    height: 30px;
    width: 100px;
    background-color: rgb(110, 200, 252);
    border: 1px dashed black;
}


/* Common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
}

.container_links{
    display: flex;
    align-items: center;
}

.links{
    display: flex;
    justify-content: center;
}

.links>div{
    padding: 5px;
}

.item{
    padding: 5px;
}

.login{
    text-align: right;
}

.blue{
    display: flex;
    justify-content: center;
    align-items: center;
}

.white{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 70%;
    margin: auto;
    max-width: 1152px;
    
}




footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_footer{
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(74,87,129,255);
}

.foot_logo{
    padding: 5px;
}

.foot_login{
    padding: 5px;
    text-align: right;
}


/* Utility */

.col_7{
    padding: 1rem;
    width: calc((100% / 12) * 7);
}

.col_5{
    padding: 1rem;
    width: calc((100% / 12) * 5);
}

.col_4{
    padding: 1rem;
    width: calc((100% / 12) * 4);
}

.col_2{
    padding: 1rem;
    width: calc((100% / 12) * 2);
}

.download, .screens{
    width: 100%;
}